@use 'shared/styles/abstracts.scss' as *;

.book  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0.625rem;
    width: 100%;

    @include from-tablet {
        width: 50%;
    }

    @include from-desktop {
        width: 25%;
    }

    &__link {
        border-radius: to-rem(8);
        border: 1px solid $color-alto;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        width: 100%;
    }

    &__title {
        @include font-montserrat(1.5rem, 600);
        @include truncate-text(2);
        line-height: 1.4;
        margin: 0.5rem 0 0;
        max-width: 100%;
        min-height: to-rem(70);
        overflow: hidden;
        padding: 0 0.5rem;
        text-overflow: ellipsis;
        text-transform: capitalize;
        white-space: normal;
        width: 100%;
        word-wrap: break-word;
    }

    &__img {
        align-items: center;
        background-color: $color-alto;
        border-radius: 0.5rem;
        display: flex;
        height: 12.5rem;
        justify-content: center;
        width: 100%;

        img{
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__info {
        align-items: center;
        display: flex;
        gap: 0.625rem;
        justify-content: space-between;
        padding: 0 0.5rem;
        width: 100%;

        &-rating {
            display: flex;
            align-items: center;
            gap: 0.313rem;
        }

        & > span {
            @include font-montserrat(1rem, 600);
            color: $color-mineShaft;
        }
    }

    &__actions {
        align-items: center;
        background: transparent;
        display: flex;
        gap: 4px;
        justify-content: center;
        margin-top: to-rem(10);
    }

    &__action-add {
        width: 100%;
    }

    p {
        @include font-montserrat(1rem, 400);
        @include truncate-text(2);
        color: $color-doveGray;
        padding: 0 0.5rem;
        min-height: 26px;
    }
}