@use 'shared/styles/abstracts.scss' as *;

.catalog {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 2rem;

    &__content {
        display: flex;
        gap: 1rem;
    }

    &__agreggates {
        flex: 1;
    }
}