@use 'shared/styles/abstracts.scss' as *;

.catalog {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 2rem;

    &__list {
        display: flex;
        flex-wrap: wrap;
    }
}
