@use 'shared/styles/abstracts.scss' as *;

.app-header {
    align-items: center;
    background-color: $color-spectra;
    color: $color-twine;
    display: flex;
    height: 60px;
    @include font-montserrat(2rem, 600);

    &__logo {
        height: 100%;
    }
}
