.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2D5A54;
    font-size: 16px;
    color: #333;

    &__button {
        background-color: transparent;
        padding: 8px 12px;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.3s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__number {
      color: #fff;
      margin: 0 10px;
      font-size: 18px;
      font-weight: bold;
  }
}
