*, *::before, *::after {
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    min-height: 100%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

ul, ol {
    list-style: none;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
    color: inherit;
    text-decoration: none;
}
