@use 'shared/styles/abstracts.scss' as *;

.search-input {
    & input {
        @include font-montserrat(1rem, 600);
        border-radius: 6px;
        border: 1px solid $color-alto;
        height: 36px;
        outline: none;
        padding: 0 1rem;
        flex: 1;
        max-width: to-rem(430);
        
        &::placeholder {
            color: $color-alto;
        }
    }
}

