@use 'shared/styles/abstracts.scss' as *;

.link {
    color: $color-spectra;
    cursor: pointer;
    text-decoration: underline;
    width: fit-content;

    &:hover {
        font-weight: 600;
    }
}
