@use 'shared/styles/abstracts.scss' as *;

.app-footer {
    @include font-montserrat(1rem, 400);
    align-items: center;
    background-color: $color-spectra;
    color: $color-twine;
    display: flex;
    padding: 0.5rem 0;
    height: 60px;
    justify-content: center;

    &__text {
        font-size: to-rem(14);
        font-style: italic;
        text-align: center;
        white-space: pre-line;
        width: 100%;

        @include from-tablet {
            white-space: initial;
        }
    }
}
